.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 809px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #18A7C8;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
}

#pu471
{
	width: 0.01px;
	position: relative;
}

#u471
{
	z-index: 3;
	width: 960px;
	position: relative;
	margin-right: -10000px;
}

#slideshowu231
{
	z-index: 5;
	width: 0.01px;
	height: 300px;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
}

#u249
{
	position: absolute;
	width: 960px;
	height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u249popup
{
	z-index: 6;
}

#u363
{
	z-index: 7;
	width: 960px;
	height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u372
{
	z-index: 9;
	width: 960px;
	height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u381
{
	z-index: 11;
	width: 960px;
	height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u363_img,#u372_img,#u381_img
{
	padding-left: 20px;
	padding-right: 21px;
}

#u241
{
	position: absolute;
	width: 220px;
	padding-bottom: 5px;
	top: 246px;
	left: 720px;
}

#u241popup
{
	z-index: 13;
}

#u366
{
	z-index: 14;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 10px;
}

#u366:hover
{
	margin: 4px -10000px 0px 0px;
}

#u375
{
	z-index: 16;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 80px;
}

#u375:hover
{
	margin: 4px -10000px 0px 0px;
}

#u384
{
	z-index: 18;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 150px;
}

#u384:hover
{
	margin: 4px -10000px 0px 0px;
}

#u366.SSSlideLinkSelected,#u375.SSSlideLinkSelected,#u384.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 4px -10000px 0px 0px;
}

#u366_clip,#u375_clip,#u384_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u366_img,#u375_img,#u384_img
{
	margin-left: -39px;
	margin-right: -39px;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u390-4
{
	z-index: 20;
	width: 920px;
	min-height: 43px;
	text-align: center;
	font-size: 45px;
	color: #FFFFFF;
	line-height: 54px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 20px;
}

#menuu398
{
	z-index: 28;
	width: 239px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 156px;
	left: 20px;
}

#u443
{
	width: 78px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u444
{
	width: 78px;
	background-color: #51E1FE;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 17px;
	position: relative;
}

#u446-4
{
	width: 78px;
	min-height: 17px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 0px;
}

#u450
{
	width: 78px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 80px;
}

#u453
{
	width: 78px;
	background-color: #51E1FE;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 17px;
	position: relative;
}

#u453:hover
{
	background-color: #18B5D7;
	margin: 0px;
}

#u453:active
{
	background-color: #18B6D6;
	margin: 0px;
}

#u454-4
{
	width: 78px;
	min-height: 17px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u457
{
	width: 79px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 160px;
}

#u458
{
	width: 79px;
	background-color: #51E1FE;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 17px;
	position: relative;
}

#u458:hover
{
	background-color: #18B5D7;
	margin: 0px;
}

#u458:active
{
	background-color: #18B6D6;
	margin: 0px;
}

#u444.MuseMenuActive,#u453.MuseMenuActive,#u458.MuseMenuActive
{
	background-color: #0887A2;
	margin: 0px;
}

#u460-4
{
	width: 79px;
	min-height: 17px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u480
{
	z-index: 2;
	width: 960px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: #0E8AA6;
	top: -293px;
	margin-bottom: -293px;
	position: relative;
}

#u393-4
{
	z-index: 24;
	width: 940px;
	min-height: 13px;
	background-color: #0D89A5;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	padding: 10px;
	color: #FFFFFF;
	line-height: 14px;
	text-align: center;
	margin-top: 286px;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

